<form id="formEmployeeId" action=" ">
    <div class="col-md-12">
        <div class="form-group">
            Nombre
            <?php echo $this->formElement($form->get('name')) ?>
            <?php echo $this->formElementErrors($form->get('name'), array('class' => 'alert alert-danger')); ?>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            Apellido paterno
            <?php echo $this->formElement($form->get('firstname')) ?>
            <?php echo $this->formElementErrors($form->get('firstname'), array('class' => 'alert alert-danger')); ?>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            Apellido materno
            <?php echo $this->formElement($form->get('lastname')) ?>
            <?php echo $this->formElementErrors($form->get('lastname'), array('class' => 'alert alert-danger')); ?>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            Fecha de nacimiento
            <?php echo $this->formElement($form->get('birthdate')) ?>
            <?php echo $this->formElementErrors($form->get('birthdate'), array('class' => 'alert alert-danger')); ?>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            Ingresos anuales
            <?php echo $this->formElement($form->get('inputYears')) ?>
            <?php echo $this->formElementErrors($form->get('inputYears'), array('class' => 'alert alert-danger')); ?>
             <?php echo $this->formElement($form->get('csrf'))?>
        </div>
    </div>
</form>