<h2>Informacion de empleado #<?php echo $employee['e_id']?></h2>

<div class="col-md-12 col-lg-12">
    Nombre :<?php  echo $employee['e_name']?>
</div>
<div class="col-md-12 col-lg-12">
    Apellido paterno :<?php  echo $employee['e_firstname']?>
</div>
<div class="col-md-12 col-lg-12">
    Apellido materno :<?php  echo $employee['e_lastname']?>
</div>

<div class="col-md-12 col-lg-12">
    Fecha de nacimiento :<?php  echo $employee['i_birthdate']->format('d/m/Y')?>
</div>

<div class="col-md-12 col-lg-12">
    Ingresos mensuales: <?php  echo $employee['i_anualInput']?>
</div>