<div class="row">
    <div class="col-md-8 col-lg-8">

        <h1> Listado de empleados 
            <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-plus"></i> Agregar</a>
        </h1>
        <div class="col-lg-12">
        <table class="table" id="tableId">
            <thead>
                <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido paterno</th>
            <th>Apellido materno</th>
            <th></th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <?php foreach ($employees as $employee) { ?>
                <td><?php echo $employee->getId() ?></td>
                <td><?php echo $employee->getName() ?></td>
                <td><?php echo $employee->getFirstname() ?></td>
                <td><?php echo $employee->getLastname() ?></td>
                <td><a href="#" class="btn btn-primary detailEmployee" data-idEmployee="<?php echo $employee->getId() ?>">Ver</a></td>
                </tr>
            <?php } ?>
            </tbody>
        </table>
            </div>
    </div>
    <div class="col-md-4 col-lg-4">
        <div id="infoEmployee">

        </div>

    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Agregar empleado</h4>
                </div>
                <div class="modal-body">
                    <?php echo $this->partial('application/index/partial/formEmpoyee',array('form'=>$form))?>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveButton">Guardar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
     $(document).ready(function(){
    $('#tableId').DataTable();
    });
    $('.detailEmployee').click(function () {
        $idEmployee = $(this).attr('data-idEmployee');
        $.ajax({
            url: "<?php echo $this->url('employee', array('action' => 'show')); ?>/"+$idEmployee,
            type: 'GET',
            dataType:'json',
        }).done(function (data) {
            $('#infoEmployee').html(data.content);
        });
    });
   
    
    $('#saveButton').click(function () {
        $.ajax({
            url: "<?php echo $this->url('employee'); ?>",
            type: 'POST',
            dataType:'json',
            data: $('#formEmployeeId').serialize(),
        }).done(function (data) {
            $('.modal-body').html(data.content);
            $('.modal-body').prepend("<div class='col-lg-12 alert-info'> "+data.message+"</div>");
            
            if(data.flag){
                setTimeout(function(){
                    location.reload();
                },3000);
            }
        });
    });
</script>